.task-container{
    padding: 15px 10px;
    margin: 8px 0px;
    background-color: #444;
    color: #eee;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
}
.task-title{
    cursor: pointer;
}
.remove-task, .info-task{
    background-color: #444;
    color: chartreuse;
    font-size: 16px;
    border: none;
}
.buttons-container{
    display: flex;
}